.border-line {
  border-top: 1px solid #000;
  /* border-bottom: 1px solid #000; */
}
.border-line2 {
  border-top: 1px solid #000;
}
.border-line3 {
  border-top: 1px solid #000;
  margin-top: 8%;
}
.border-line4{
  border-bottom: 1px solid #000;
}
.left-margin {
  border-left: 1px solid #000;
  /* border-right: 1px solid #000; */
}
.nextgen {
  font-size: 30px;
  font-weight: bold;
  font-family: "Gill Sans";
  flex: none;
}
.desc1 {
  color: #1a1a1a;
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 33px */
  letter-spacing: 1.1px;
  margin-right: 50px;
  padding-right: 205px;
}

.price {
  color: #1a1a1a;
  font-family: "Gill  Sans";
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 150%; /* 36px */
  letter-spacing: 1.2px;
}
.text-svg {
  overflow: visible;
  position: relative;
}

.shopnow {
  display: flex;
  width: 169.508px;
  height: 55.111px;
  padding: 0px 10px 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fffeff;
}
.shopnowborder {
  width: 169.508px;
  height: 52.528px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fffeff;
}
.shopnowsvg {
  margin-top: -170px;
}

.img2 {
  margin: 0%;
  height: 12%;
}
.circle{
  margin: 3% 0 -6% 4%;
}
.everyone {
  margin: -3% 4% 5% 7%;
  color: #1a1a1a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Gill Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 204.545% */
  letter-spacing: 0.352px;
}
.whats {
  background-color: #ffee01;
  font-weight: 800;
  padding: 9% 12% 5% 12.8%;
  margin-left: -1.5%;
  font-size: 120%;
  border: 1px  solid #000;
  border-bottom: 0;
}
@media screen and (max-width: 768px) {
  .desc1 {
    margin-right: 0px;
    padding-right: 0px;
    font-size: 12px;
  }
  .text-svg {
    flex: none;
  }
  .nextgen {
    margin-top: 10%;
    font-size: x-large;
  }
  .sw {
    margin-top: 0px;
  }
  .nextgensvg {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .price {
    font-size: medium;
  }
  .pricesvg {
    width: 20%;
    height: 20%;
  }
  .watch1 {
    margin-left: -6%;
    margin-right: -50%;
    
  }
  .shopnowsvg {
    margin: 0%;
    margin-top: 10%;
    margin-left: 20%;
    width: 80%;
  }
  .pointer {
    margin: 0%;
    margin-left: 4%;
    width: 150%;
    color: #000;
  }
  .border-line2 {
    margin-left: -100%;
    margin-right: -50;
    margin-top: 2%;
  }
 .body{
  width: fit-content;
 }
 .everyone {
  font-size: medium;
 }
}
.watch1{
  border-left: 1px solid #000; 
}
@media screen and (max-width: 320px) {
  .desc1 {
    font-size: 9.5px;
    position: absolute;
  }
}
@media screen and (min-width: 769px) {
  .left-margin {
    margin-right: 7.5rem;
    margin-left: 7.5rem;
  }
  .nextgen {
    font-size: 60px;
  }
  .border-line2 {
    display: none;
  }
}

