.border-line {
  border-top: 1px solid #000;
}
.border-line2 {
  border-top: 1px solid #000;
}
.border-line2-1 {
  border-top: 1px solid #000;
}
.border-line3 {
  border-top: 1px solid #000;
  margin-top: 3.6%;
}
.border-line4 {
  border-bottom: 1px solid #000;
}

.nextgen {
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans";
  flex: none;
}
.desc1 {
  color: #1a1a1a;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 33px */
  letter-spacing: 1.1px;
  margin-right: 50px;
  padding-right: 165px;
}

.price {
  color: #1a1a1a;
  font-family: "Gill  Sans";
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 150%; /* 36px */
  letter-spacing: 1.2px;
}
.text-svg {
  overflow: visible;
  position: relative;
}

.shopnow {
  display: flex;
  width: 169.508px;
  height: 55.111px;
  padding: 0px 10px 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fffeff;
}
.shopnowborder {
  width: 169.508px;
  height: 52.528px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fffeff;
}
.shopnowsvg {
  margin-top: -10%;
}

.img2 {
  margin: 0%;
  height: 12%;
}
.circle {
  margin: 3% 0 -6% 4%;
}
.everyone {
  margin: -3% 4% 5% 7%;
  color: #1a1a1a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Gill Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 204.545% */
  letter-spacing: 0.352px;
}
.whats {
  background-color: #ffee01;
  font-weight: 800;
  padding: 9% 12% 5% 12.8%;
  margin-left: -1.5%;
  font-size: 120%;
  border: 1px solid #000;
  border-bottom: 0;
}
@media screen and (max-width: 768px) {
  .desc1 {
    margin: 5% -9% 0% 0%;
    padding-right: 0px;
    font-size: 11.6px;
    font-weight: 300;
  }
  .text-svg {
    flex: none;
  }
  .nextgen {
    margin-top: 10%;
    font-size: x-large;
  }
  .sw {
    margin-top: 0px;
  }
  .nextgensvg {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .price {
    font-size: medium;
  }
  .pricesvg {
    width: 15%;
    height: 15%;
  }
  .watch1 {
    margin-left: -6.5%;
    margin-right: -70%;
    max-width: 106.5%;
  }
  .shopnowsvg {
    margin: 20% 10%;
    width: 80%;
  }
  .pointer {
    margin: 0%;
    margin-left: 4%;
    width: 150%;
    color: #000;
  }
  .border-line2 {
    margin-left: -100%;
    margin-right: -8%;
    margin-top: 6%;
  }
  .border-line2-1 {
    margin-left: -100%;
    margin-right: -8%;
  }
  .border-line3 {
    display: none;
  }
  .body {
    width: fit-content;
  }
  .everyone {
    font-size: small;
    letter-spacing: 0.52px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }
  .img2 {
    max-width: 120%;
    margin: 3% 0 0 12%;
  }
  .circle {
    width: 10%;
    height: 10%;
  }
  .whats {
    padding: 20%;
    text-align: center;
    margin-left: 0%;
    border-left: 0;
    border-top: 0;
  }
  .right-margin {
    position: relative;
  }
  .right-margin::after {
    content: "";
    height: 81.4%;
    width: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000;
  }
  .left-margin {
    border-left: 1px solid #000;
  }
}
.watch1 {
  border-left: 1px solid #000;
}
@media (max-width: 450px) and (min-width: 360px){
  .watch1{
    max-width: 105%;
    margin-left: -17px;
  }
  }
@media screen and (min-width: 769px) {
  .right-margin {
    position: relative;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
  
  .left-margin {
    position: relative;
  }
  .left-margin::after{
    content: '';
    height: 93%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 0; 
    background-color: #000; 
   }
  .nextgen {
    font-size: 60px;
  }
  .border-line2 {
    display: none;
  }
  .desc1 {
    font-size: 150%;
  }
  .border-line2-1 {
    display: none;
  }
  .whatssvg {
    display: none;
  }
  .right-margin {
    border-right: 0;
  }
}
.shopnowbox {
  margin: -6% 0 0 -4%;
}
