.header-container {
  height: 128px;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.cart-icon {
  width: 45px;
  height: 44px;
  fill: #fe682f;
}

.cartx {
  font-size: 24px;
  font-weight: bolder;
  font-family: "LEMON MILK";
}

.menu {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  margin: 5px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #000;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-direction: column;
}

.nav-list li {
  font-size: 18px;
}

@media screen and (max-width: 760px) {
  .border {
    border: none;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    top: 128px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1;
  }

  .show {
    display: flex;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }
  .menu-toggle svg {
    display: block;
  }
  .menusvg {
    margin: 6%;
  }

  .show-menu .bar {
    background-color: #fff;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle svg {
    display: block;
  }

  .nav-list li {
    text-align: center;
  }
  .cartx {
    font-size: medium;
  }
  .cartxlogo {
    width: 30%;
    height: 30%;
  }
  .header-container {
    height: 70px;
    justify-content: space-between;
  }
  li {
    margin: 2%;
  }
  .divider {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100%;
    width: 100%;
    padding: 20%;
  }
  nav {
    margin: 270% 0% 0% 0%;
    background-color: #fdf6eb;
    overflow: hidden;
    width: 100%;
    padding: 0 80%;

    border: 2px solid #000;
  }
  .nav-list {
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;

    position: absolute;
    top: 128px;
    left: 0;
    width: 80%;
    z-index: 2;
  }
  .menu-toggle {
    display: block;
    z-index: 3;
  }

  .menu {
    position: relative;
    z-index: 1;
  }
  .menu-page {
    border-bottom: 1px solid black;
  }
  ul {
    padding: 0%;
    margin: 150% 0% 0% 0%;
  }
}
@media screen and (max-width: 769px) {
  menu {
    margin: 100%;
  }

  .icon {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav-list {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }
  .menu-item-name {
    display: none;
  }
  .logo {
    border-right: 1px solid #000;
  }
  .divider {
    border-right: 1px solid #000;
  }

  .li1 {
    margin: "15% 0 6% 45%";
  }
  .border-line2 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list {
    display: flex;
  }
  .li1 {
    margin: 15% 0 6% 45%;
  }
}
a {
  font-family: "Nunito Sans";
}
